!!! 5
%html
  %head
    %link(rel="stylesheet" href="css/bootstrap.min.css")
  %body
    .container
      .hero-unit
        %h1 CocoaPods Feeds
        %p
          This is the home of the rss feed for the new pods.
          Subscribe and never miss a pod again!
        %p
          %a.btn.btn-warning.btn-large{:href => url('/new-pods.rss')} Get the Feed
          %a.btn.btn-large{:href => 'http://cocoapods.org/'} CocoaPods.org
      .alert.alert-success
        Counting #{@pods_count} pods.
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th="Name"
            %th="Date"
            %th="Tweet Preview"
        %tbody
          - @new_pods.each do |pod|
            %tr
              %td= pod.name
              %td= @creation_dates[pod.name].strftime("%Y/%m/%d")
              %td
                =@pods_tweets[pod.name]
